* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

// common style
a {
    text-decoration: none;
    color: inherit;
}

// button
.btn {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 22px;
}
nav{
    margin-right: 27px;
}
// header
header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid;
    font-family: sans-serif;
    gap: 20px;
    font-size:15px ;
    align-items: center;
    

    .logo {
        height: 30px;
    }
}
// for med
.medium{
    display: flex;
  justify-content: end;
//   background-color: aqua;
// align-content: end;
// float: right;
border-bottom: 1px solid;
padding-right: 3px;
 }

@media screen and (max-width: 720px) {
    .hidden {
        display: none;
    }
}
footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    color: gray;
    font-weight: 500;
    font-size: small;
}