@import "font";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "sohne";
    background-color: #f7f4ed;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

// common style
a {
    text-decoration: none;
    color: inherit;
}

// button
.btn {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 22px;
    border: none;
}

nav {
    margin-right: 27px;
    gap: 33px;
}

//  MARK: header
header {
    padding: 25px;
    border-bottom: 1px solid;
    font-size: 14px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .logo {
        height: 30px;
    }
}

//MARK: main
main {
    background-color: orangered;
    min-height: 80vh;
    // min-height: 80vh;
    .container{
        // min-height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }

    h1 {
       font:{
        family: "gt-super", serif;
        size: 110px;
        weight: 400; 
        }
        
        letter-spacing: -3px;
        line-height: 0.9;
    }
    p{
        font-size: 22px;
    }
    .btn{
        font-size: 22px;
    }
}
@media screen and (max-width: 900px){
    main{
        .btn{
            background-color: #1a8917;
        }
    }
}